* {
  margin: 0;
  padding: 0;
}

body {

}

.uk-grid {
  max-width: 960px;
}

.table {
  & caption {
    padding: 20px 7.5px;
  }
}

.sort {
  margin: 30px 0 0 0;

  & a {
    padding: 0 5px;
  }

  &__active {
    text-decoration: underline;
  }
}